/* Add fonts */
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Roboto;
}

:root{
    --tomato: hsl(4, 100%, 67%);
    --tomato-10: hsl(4, 100%, 67%, 10%); 
    --orange: hsl(14, 100%, 62%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --fs-title: 48px;
    --fs-phone-title: 32px;
    --fs-description: 16px;
    --fs-details: 12px;
    --fw-bold: 700;
    --fw-regular: 400;
}

body{
    min-height: 100vh;
    background-color: var(--charcoal-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NEWSLETTER DEFAULT */
main{
    padding: 25px 25px 25px 50px;
    border-radius: 25px;
    background-color: var(--white);
    display: flex;
    gap: 50px;
}   
/* Font size */
main h2{
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
}
main p, li, input[type=text], input[type=text]::placeholder{
    font-size: var(--fs-description);
    font-weight: var(--fw-regular);
}
main label{
    font-size: var(--fs-details);
    font-weight: var(--fw-bold);
}
main button[type=submit]{
    font-size: var(--fs-description);
    font-weight: var(--fw-bold);
}
/* Left side */
section.content{
    width: 400px;
    margin: 75px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    color: var(--dark-slate-grey);
}
p{
    color: var(--dark-slate-grey);
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    color: var(--dark-slate-grey);
    display: flex;
    align-items: center;
    gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label{
    color: var(--dark-slate-grey);
    display: flex;
    justify-content: space-between;
}
form label span{
    display: none;
}
form input[type=text]{
    padding: 15px 25px;
    outline: 1px solid var(--grey);
    border-radius: 5px;
    transition: 200ms;
}
form input[type=text]:hover{
    outline: 1px solid var(--dark-slate-grey);
}
form input[type=text]:focus{
    outline: 1px solid var(--dark-slate-grey);
    color: var(--dark-slate-grey)
}
form button[type=submit]{
    margin-top: 10px;
    padding: 15px 25px;
    border-radius: 5px;
    color: var(--white);    
    background: var(--dark-slate-grey);
    cursor: pointer;
}
form button[type=submit]:hover{
    background: linear-gradient(to right, var(--tomato), var(--orange));
}


/* NEWSLETTER ERROR */
form input[type=text].error{
    outline-color: var(--tomato);
    color: var(--tomato);
    background-color: var(--tomato-10);
}
form input[type=text].error::placeholder{
    color: var(--tomato);
}
form label span.true{
    display: inline;
    color: var(--tomato);
}


/* SUCCESS */
div.success{
    width: 20%;
    min-width: 400px;
    padding: 50px;
    border-radius: 25px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 25px;  
}
div.success img{
    height: 50px;
    width: 50px;
}
div,.success h2{
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    color: var(--dark-slate-grey);
}
div.success p{
    font-size: var(--fs-description);
    font-weight: var(--fw-regular);
    color: var(--dark-slate-grey);
    line-height: 175%;
}
div.success button{
    padding: 15px 25px;
    border-radius: 5px;
    font-size: var(--fs-description);
    font-weight: var(--fw-bold);
    color: var(--white);
    background: var(--dark-slate-grey);
    cursor: pointer;
}
div.success button:hover{
    background: linear-gradient(to right, var(--tomato), var(--orange));
}


/* RESPONSIVE */
img.hide{
    display: none;
}
@media(max-height: 600px){
    body{
        margin: 50px 0px;
    }
}
@media(max-width: 1000px){
    body{
        height: 100%;
        margin: 0px;
        align-items: flex-start;
    }

    /* NEWSLETTER */
    main{
        width: 375px;
        padding: 0px;
        border-radius: 0px;
        flex-direction: column-reverse;
        gap: 0px;
    }
    section.content{
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        margin: 0px;
        gap: 25px;
    }
    main h2{
        font-size: var(--fs-phone-title);
    }
    li{
        align-items: flex-start;
    }

    /* SUCCESS */
    div.success{
        box-sizing: border-box;
        width: 375px;
        min-width: 375px;
        padding: 100px 25px 25px 25px;
        border-radius: 0px;
    }
    div,.success h2{
        font-size: var(--fs-phone-title);
    }
    div.success button{
        margin-top: 175px;
    }
}
